<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-csp="" ng-app="boilerplate"> <!--<![endif]-->

	<head>

		<base href="/">
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Traveler</title>
		<meta name="description" content="Simple AngularJS Boilerplate to kick start your new project with SASS support and Gulp watch/build tasks">

		<!-- mobile meta -->
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

		<!--[if IE]>
			<link rel="shortcut icon" href="favicon.ico">
		<![endif]-->
		<!-- or, set /favicon.ico for IE10 win -->
		<meta name="msapplication-TileColor" content="#f01d4f">

		<!-- CSS -->
		<!-- build:css css/style.min.css -->
		<link rel="stylesheet" href="bower_components/OwlCarousel/owl-carousel/owl.carousel.css" />
		<link rel="stylesheet" type="text/css" href="styles/style.css" />
		<!-- endbuild -->
    <script src="https://use.fontawesome.com/6cb621f557.js"></script>
	</head>

	<body class="main-wrapper">


		<!-- Main view for templates -->
    <div id="app">
  		<div data-ng-view="" class="container"></div>

      <div class="bottombar" ng-if="path=='/user' || path=='/friends'">
        <ul>
          <li >
						<a class="clickable" ng-class="{active:path=='/user'}" ng-href="#/user"><i class="fa fa-user" aria-hidden="true"></i></a>
					</li>
					<li >
						<a class="clickable" ng-class="{active:path=='/friends'}" ng-href="#/friends"><i class="fa fa-users" aria-hidden="true"></i></a>
					</li>

        </ul>
      </div>

    </div>

	</body>

	<!-- Vendors -->
	<!-- build:nonangularlibs js/nonangularlibs.js -->
	<script type="text/javascript" src="js/nonangular/jquery-1.11.2.min.js"></script>
	<!-- endbuild -->

	<!-- Non-angular libraries -->
	<!-- build:libs js/libs.js -->
	<script type="text/javascript" src="js/nonangular/lodash.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
	<script type="text/javascript" src="bower_components/OwlCarousel/owl-carousel/owl.carousel.min.js"></script>
	<!-- endbuild -->

	<!-- Angular external libraries for application -->
	<!-- build:angularlibs js/angularlibs.js -->
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<!-- endbuild -->

	<!-- Angular components -->
	<!-- build:appcomponents js/appcomponents.js -->
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/config.js"></script>
	<script type="text/javascript" src="components/services/LocalStorage.service.js"></script>
	<script type="text/javascript" src="components/services/queryService.service.js"></script>
	<script type="text/javascript" src="components/directives/main.nav.directive.js"></script>
	<script type="text/javascript" src="components/directives/responsive.nav.directive.js"></script>
	<!-- endbuild -->

	<!-- Application sections -->
	<!-- build:mainapp js/mainapp.js -->
	<script type="text/javascript" src="app/factory.js"></script>
	<script type="text/javascript" src="app/controller.js"></script>
	<!-- endbuild -->

	<!-- templates from $templateCache -->
	<!-- build:templates -->
	<!-- endbuild -->



</html>
