<div class="topbar">
  <h1>Friends' places</h1>
</div>

<div class="content">
  <ul>
    <li class="places" ng-repeat="place in places | filter:{users:{id:'!'+user.id}}" ng-style="{'background-image':'url(images/places/{{place.image}}.png)'}">
      {{place.name}}

      <div class="users">
        <span ng-repeat="user in place.users">
          {{user.name}}
          <i ng-if="user.visited" class="fa fa-flag" aria-hidden="true"></i>
        </span>
      </div>

    </li>
  </ul>
</div>
