<div id="home">


  <div class="box">
    <h2>Sign In to Your Account</h2>
    <input placeholder="Username" ng-model="username"></input>
    <span ng-click="clickLogin()"  class="button w100">Login</span>
  </div>

</div>
