    <div class="topbar">
      <h1 ng-show="!showNewForm">Your places</h1>

      <span ng-show="!showNewForm" class="button topButton clickable addDestination" ng-click="showNewForm=true">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </span>

      <input class="partialInput" ng-show="showNewForm" type="text" ng-model="newPlaceInput" placeholder="Enter you destination">

      <span ng-show="showNewForm" class="button topButton clickable" ng-click="resetAddForm()">
        <i class="fa fa-close" aria-hidden="true"></i>
      </span>

      <ul ng-if="newPlaceInput" class="suggestions">
        <li class="clickable" ng-repeat="suggestion in suggestions | filter:newPlaceInput | limitTo : suggestionsLimit "
        ng-click="clickAdd(suggestion)" >
          {{suggestion}}
        </li>
      </ul>
    </div>

    <div class="content">
      <ul>
        <li class="places clickable" ng-init="place.showForm = false; place.deleted= false" ng-hide="place.deleted" ng-click="place.showForm = !place.showForm ;" ng-repeat="place in places | filter:{users:{id:user.id}}" ng-style="{'background-image':'url(images/places/{{place.image}}.png)'}">
          <span ng-show="!place.showForm">{{place.name}}</span>

          <span ng-repeat="user in place.users">
            <i ng-show="!place.showForm" ng-if="user.id==$parent.user.id && user.visited" class="fa fa-flag" aria-hidden="true"></i>


            <span ng-show="place.showForm">
              <span class="button transparent" ng-click="place.deleted = true;">Delete</span>
              <span class="button transparent" ng-click="user.visited=true;">Visited</span>
              <span class="button transparent" ng-click="user.visited=false;">Not yet</span>
            </span>
          </span>


        </li>
      </ul>
    </div>
