/******************************************************************

Typography

******************************************************************/

// Web fonts definitions goes here as well


/* ===============================
     fonts
   =============================== */
$font: "Open Sans", Helvetica, Arial, sans-serif;

/* ===============================
     sizes
   =============================== */
$large: 28px;
$medium: 20px;
$small: 14px;

/* ===============================
     weights
   =============================== */
$thin: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 900;
