/******************************************************************

Variables

******************************************************************/

$text-dark: #231f20;
$text-light: #777;

$bg-darker: #777;
$bg-dark: #eceaea;
