/******************************************************************

1030px and up

******************************************************************/
.container {

  .content{
    width: 1000px;
    margin: 48px auto;

    ul{
      width: 1000px;
      .places{
        width: 450px;
        float:left;
        margin: 30px 30px 0px 0px;
      }
    }

  }


}
