/******************************************************************

481px and up

******************************************************************/

/*********************
POSTS & CONTENT STYLES
*********************/

.container {

  .content{
    width: 480px;
    margin: 48px auto;
    ul{
      .places{
        width: 450px;
        margin: 30px 0 0px 0px;
      }
    }
  }
}
