/******************************************************************

768px and up

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $font;
}

.container {
  .content{
    margin: 48px auto;
  }
}

.button{
  &.addDestination:after {
     content: "Add destination";
  }
}
