/******************************************************************

Mobile

******************************************************************/

/*********************
GENERAL STYLES
*********************/


body{
  background: #fafafa;
  font-size: 1em;
  color:$text-light;
  font-family: Helvetica, sans-serif;
}

.container{
  height: 100%;
  width: 100%;
  position: absolute;
}
.w100{
  width: 100%;
}

.clickable{
  cursor: pointer;;
}

.content{
  margin:  48px 0;
}


//buttons
.button{
  background: #F27564;
  color: #fff;
  border-radius: 5px;
  padding: 10px 7px;
  border: none;
  min-width: 38px;
  text-align: center;
  display: inline-block;
  height: 45px;
  font-size: 1.2em;
  cursor: pointer;

  &.topButton{
    float: right;
    top: 9px;
    position: absolute;
    right: 0.8em;
    height: 30px;
    font-size: 1em;
    padding: 8px;
  }

  &.secondary{
    background: $bg-darker;
  }

  &.transparent{
    border: 2px solid #fff;
    background: none;
    font-size: 22px;
    margin: 0 20px;
    &:hover{
      background: rgba(255,255,255,0.7);
    }
  }
}

//home
#home{
  background: url('../images/places/home.png');
  background-size:cover;
  height: 100%;
  width: 100%;
  padding-top: 150px;
}

.box{
  background: rgba(255,255,255,0.8);
  width: 300px;
  height: 245px;
  margin: 0 auto;
  padding: 7px 20px;
  border-radius: 4px;
}


//places
.content ul{
  padding: 0;
  margin: 0;

  .places{
  	background: #fff;
  	width: 100%;
  	height: 211px;
  	color: #fff;
  	font-size: 2em;
  	position: relative;
  	text-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    display:flex;justify-content:center;align-items:center;width:100%;font-size:2em;
  	.users{
  		background-color: rgba(0,0,0,0.2);
      position: absolute;
      bottom: 10px;
  		right: 0px;
      font-size: medium;
      padding: 2px 10px;
  	}
  }
}

//topbar
.topbar{
  background: $bg-dark;
  top: 0px;
  width: 100%;
  z-index: 1;
  color: $text-light;
  //padding: 0.8em;
  position: fixed;
  height: 48px;

  &.negative{
    background: $bg-darker;
    color:#eceaea;
  }

  h1{
    font-size: 1.2em;
    display: inline-block;
    padding: 0 20px;
  }
}

input.partialInput{
  width: 70%;
  margin: 9px 13px;
  height: 30px;
}

.suggestions{
  background: #fff;
  color: $text-dark;
  position: absolute;
  z-index: 1;
  top: 30px;
  width: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  li{
    padding: 13px 20px;
    border-bottom: 1px solid lightgray;
    margin: 0;

    &:hover{
      background: $bg-dark;
    }
  }
}

//footer
.bottombar{
  background: $bg-dark;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
}

.bottombar ul{
  padding: 0;
  margin: 0;
  text-align: center;
}

.bottombar ul li{
  list-style: none;
  margin: 0px;
  display: inline-block;
  width: 20%;
  text-align: center;
}

.bottombar ul li a{
  color: $text-light;
  width: 100%;
  display: inline-block;
  height: 48px;
  padding: 15px;

  &.active{
    background: #ddd;
  }
}



.ng-hide:not(.ng-hide-animate) {
  /* These are just alternative ways of hiding an element */
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
